{% extends "people/base.html" %}

{% block content %}
<h1>{{ person.first_name }} {{ person.last_name }}</h1>

<table>
    <tr><th>Пол</th><td>{{ person.gender }}</td></tr>
    <tr><th>Имя</th><td>{{ person.first_name }}</td></tr>
    <tr><th>Фамилия</th><td>{{ person.last_name }}</td></tr>
    <tr><th>Телефон</th><td>{{ person.phone }}</td></tr>
    <tr><th>Email</th><td>{{ person.email }}</td></tr>
    <tr><th>Адрес</th><td>{{ person.address }}</td></tr>
    <tr><th>Номер паспорта</th><td>{{ person.passport_num }}</td></tr>
    <tr><th>Код паспорта</th><td>{{ person.passport_code }}</td></tr>
    <tr><th>Кем выдан</th><td>{{ person.passport_otd }}</td></tr>
    <tr><th>Дата выдачи паспорта</th><td>{{ person.passport_date }}</td></tr>
    <tr><th>ИНН</th><td>{{ person.inn_fiz }}</td></tr>
    <tr><th>СНИЛС</th><td>{{ person.snils }}</td></tr>
    <tr><th>ОМС</th><td>{{ person.oms }}</td></tr>
</table>

<br>
<a href="/">← Назад</a>
<a href="/random/">Случайный человек</a>
{% endblock %}
