{% extends "people/base.html" %}

{% block content %}
<h1>{{ person.first_name }} {{ person.last_name }}</h1>

<table>
    <tr><th>Пол</th><td>{{ person.gender }}</td></tr>
    <tr><th>Имя</th><td>{{ person.first_name }}</td></tr>
    <tr><th>Фамилия</th><td>{{ person.last_name }}</td></tr>
    <tr><th>Телефон</th><td>{{ person.phone }}</td></tr>
    <tr><th>Email</th><td>{{ person.email }}</td></tr>
    <tr><th>Адрес</th><td>{{ person.address }}</td></tr>
</table>

<br>
<a href="/">← Назад</a>
<a href="/random/">Случайный человек</a>
{% endblock %}
